<div class="boxed"style="overflow:auto">

  <div class="header"style="overflow:auto">

    INTENT

  </div>

  <ol style="margin-left: 1%; font-weight: bold; font-family: 'Times New Roman', Times, serif; font-size: 100%">

    <li>Did you File a Police Report After an Accident ?</li>

    <li>What type of insurance claim did you recently have ?</li>

    <li>How did your report the claim to the insurance company ?</li>

    <li>How long did it take for the claim to be settled ?</li>

    <li>How would you rate your experience during the claim process ?</li>

  </ol>

</div>